.navbar{
    margin-top: -2.3%;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(61, 146, 231);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: fixed;
    .nav-left{
        display: flex;
        button{
            @include bnt;
            padding: 10px;
        }
        .btn {
            #active {
                background: orange;
            }
        }
        button:hover{
            background-color: $bnt;
            cursor: pointer;
        }
    }
    img{
        width: 80px;
        height: 60px;
    }
    .nav-right{
        margin-top: $mt;
        margin-right: $ml;
        button{
            padding: 10px;
            @include bnt;
            margin-top: -1px;
        }
        button:hover{
            background-color: $bnt;
            cursor: pointer;
        }
        i{
            display: none;
        }
    }
    .nav-left{
        margin-left: $ml;
        button{
            margin-left: 20px;
        }

    }
}
.navbar{
    @include responsiveSize(medium){
        margin-top: -3.5%;
    }
    @include responsiveSize(small){
        margin-top: -9%;
        button{
            display: none;
        }
        img{
            margin-left: -25px;
        }
        .nav-right{
            i{
                display: block;
                font-size: 50px;
            }
        }
    }
}
